{% extends 'index.html' %}
{% block title %}
<title>Supported Crops | Crop Disease Predictor</title>
{% endblock title %}

{% block dashboard_content %}
{% load static %}
<div id="crops-section-wrapper">
  <div class="crops-section">
      <h2>Our Supported Cash Crops</h2>
      
      <div class="crops-cards-container">
        {% for crop in crops %}
          <div class="crop-card">
            <img src="{% static crop.image_src %}" alt="{{ crop.name }}">
            <h3 class="crop-name">{{ crop.name }}</h3>
            <a href="{% url 'crop_detail' crop_name=crop.slug %}" class="know-more-btn">Know More</a>
          </div>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock dashboard_content %}
